

.hour{
  flex: 0 0 50px;
  width: 41px;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: 0.35s;
  font-size: 1.5em;
}

.selected{
  color: #fff;
  P{
    font-weight: 600;
  }
}

.not-selected{
  color: rgb(187, 187, 187);
}