@use '/styles/colors.scss';

.form{
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: black;
  background: rgb(200,110,255);
  background: linear-gradient(137deg, rgba(200,110,255,1) 0%, rgba(126,214,245,1) 56%);
  width: 100%;
  padding: 2em 1em;
  border-radius: 10px;
  &-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 27, 27, 0.884);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & > h3{
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1em;
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.master{
  h3{
    margin-bottom: 1em;
  }
  label{
    font-size: 1.15em;
  }
}

.input{
  box-sizing: border-box;
  height: 32px;
  padding: 0.5em;
  border: 2px solid colors.$blue;
  border-radius: 8px;
}

.area{
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid colors.$blue;
  border-radius: 8px;
  min-height: 100px;
}

.btn{
  padding: 0.5em 1em;
  background: linear-gradient(90deg, rgba(190,126,245,1) 0%, rgba(114,24,167,1) 25%, rgba(114,24,167,1) 75%, rgba(190,126,245,1) 100%);
  color: white;
  border-radius: 8px;
}

.radio{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0.5em 0.5em 0.5em 0;
    color: colors.$blue;
    width: 1.35em;
    height: 1.35em;
    border: 0.15em solid colors.$blue;
    border-radius: 50%;
    display: grid;
    place-content: center;
    &::before{
      box-sizing: border-box;
      content: '';
      background-color: #9832d8;
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.2s transform ease-in-out;
    }
    &:checked::before{
      transform: scale(1);
    }
}

.radio-container{
  display: flex;
  align-items: center;
  gap: 5px;
}