

.wrapper{
  display: flex;
  gap: 1em;
  overflow-y: scroll;
  padding: 0.5em 0.25em;
}

.master{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.master-1, .master-2 {
  //width: 50%;
  flex-grow: 1;
  position: relative;
}

.master-1 > .content > div{
  background-color: rgba(224, 91, 184, 0.719);
}

.master-2 > .content > div{
  background-color: rgba(64, 183, 192, 0.685);
}

.container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: black;
}

.hours{
  p{
    height: 60px;
    //margin-bottom: 5px;
  }
}

.btn-container{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.content{
  box-sizing: border-box;
  width: 100%;
  color: black;
  position: absolute;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  & > div {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    & > p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > p:first-of-type{
      font-weight: 600;
    }
    & > p:last-of-type{
      font-style: italic;
    }
  }
}
