

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  overflow-y: scroll;
  padding: 0.5em 0.25em;
}

.note{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.master-1{
  background: linear-gradient(146deg, rgba(191,207,253,1) 60%, rgba(232,88,200,1) 100%);
}

.master-2{
  background: linear-gradient(146deg, rgba(191,207,253,1) 60%, rgba(88,232,170,1) 100%);
}

.container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: black;
}

.btn-container{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.content{
  width: 100%;
  color: black;
  padding-top: 5px;
}
