

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  overflow-y: scroll;
  padding: 0.5em 0.25em;
}

.note{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 5px;
  //box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: black;
}

.btn-container{
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.content{
  width: 100%;
  color: black;
  padding-top: 5px;
}